 {% extends 'Assignment/base.html' %}

{% block body %}
<div class="single-product-area mt-50">
    <h1>{{ submission.assignment.title }}<small class="text-muted">의 제출물 목록</small></h1>
    <hr>

    <!-- 제출물 내용 -->
    <div>
        <h2>제목 : {{ submission.title }}</h2>
        <p>내용 : {{ submission.content }}</p>
        <p>
            상태 :
            {% if submission.status == 'requested' %}
            미검수
            {% elif submission.status == 'succeed' %}
            성공
            {% elif submission.status == 'failed' %}
            실패
            {% endif %}
        </p>
        {% if submission.image %}
        <img src="{{ submission.image.url }}" alt="{{ submission.image }}"></img>
        {% endif %}
        <p>작성시각 : {{ submission.created_at }}</p>
        <p>마지막 수정 시각 : {{ submission.updated_at }}</p>
    </div>
    <hr>

    <!-- 검수 -->
    {% if user.id == submission.assignment.created_user.id %}
        {% if submission.status == 'requested' %}
            <div>
                <form action="{% url 'Submission:success' submission.pk %}" style="display: inline" method='POST'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success" value="Success"/>
                </form>
                <form action="{% url 'Submission:fail' submission.pk %}" style="display: inline" method='POST'>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Fail"/>
                </form>
            </div>
        <hr>
        {% endif %}
    {% endif %}

    <!-- 댓글창 -->
    <div>
        <form action="{% url 'Submission:create_coaching' submission.pk %}" method='POST'>
            {% csrf_token %}
            댓글 달기 : <input type="text" name="content"/>
            <input type="submit" value="Submit"/>
        </form>
        <div>
            {% for coaching in coachings %}
            <div class="mt-15">
                <span class="lead">{{ coaching.content }}</span>
                <div class="blockquote-footer">
                    <span class="mr-15">{{ coaching.writer.username }}</span>
                    <small class="text-muted">{{ coaching.created_at }}</small>
                </div>
            </div>
<!--                    <form action='' method='POST' style="display:inline">-->
<!--                        {% csrf_token %}-->
<!--                        <button>삭제</button>-->
<!--                    </form>-->
            {% empty %}
            <br>
            <span>아직 아무도 훈수를 두지 않았습니다. 훈수를 통해 피드백을 주세요!</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}