{% load staticfiles %}
<!-- Mobile Nav (max width 767px)-->
<div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
        <a href="index.html"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
        <span></span><span></span><span></span>
    </div>
</div>

<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="{% url 'Assignment:index' %}"><img src="{% static 'img/core-img/friend.png' %}" alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li class="active"><a href="{% url 'Assignment:index' %}">Home</a></li>
            <li><a href="{% url 'Assignment:new' %}">과제등록</a></li>
        </ul>
    </nav>
    <!-- Button Group -->
    <div class="amado-btn-group mt-30 mb-100">
        {% if user.is_authenticated %}
        <a href="{% url 'accounts:profile'%}" class="btn amado-btn mb-15"> {{user.username}}</a>
        <form action = '{% url 'accounts:logout'%}' method = 'POST' style = 'display:inline;'>
        {%csrf_token%}
            <input type="submit" class="btn amado-btn mb-15" value="Log out"/>
        </form>
        {% else%}
            <a href="{% url 'accounts:login'%}" class="btn amado-btn mb-15"> Sign in</a>
            <a href="{% url 'accounts:signup'%}" class="btn amado-btn mb-15"> Sign up</a>

        {% endif %}
    </div>
    <!-- Cart Menu -->
    <div class="cart-fav-search mb-100">

        <a href="#" class="fav-nav"><img src="{% static 'img/core-img/favorites.png' %}" alt=""> Point Shop</a>
        <a href="#" class="search-nav"><img src="{% static 'img/core-img/search.png' %}" alt=""> Search</a>
    </div>
    <!-- Social Button -->
    <div class="social-info d-flex justify-content-between">
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</header>
<!-- Header Area End -->