 {% extends 'Assignment/base.html' %}

{% block body %}
<div class="single-product-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb" style="margin-bottom:0">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="/media/{{ assignment.photo }}">
                                    <img class="d-block w-100" src="/media/{{ assignment.photo }}" onerror="this.src='/static/img/bg-img/no_detail_img.gif'" alt="First slide" style="width: 573px; height: 592px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">마감일 : {{assignment.end_at}}</p>
                        <h3>{{assignment.title}}</h3>
                        <p class="avaibility"><i class="fa fa-circle"></i> 과제 참여자: {{count}}</p>
                    </div>
                    <div class="short_overview my-5">
                        <p>
                            {{assignment.content}}
                        </p>
                    </div>
                    {% if checkAs %}
                        <a href="{% url 'Assignment:submit' assignment.pk %}" class="btn btn-primary">과제 제출</a>
                    {% else %}
                    <form class="cart clearfix" method="post">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <button type="submit" class="btn amado-btn">과제 신청</button>
                        {% endif %}
                    </form>
                    {% endif %}
                </div>
            </div>

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">제목</th>
                  <th scope="col">작성자</th>
                  <th scope="col">상태</th>
                  <th scope="col">제출일자</th>
                </tr>
              </thead>
              <tbody>
                {% for submission in submissions %}
                <tr>
                  <th scope="row">{{submission.id}}</th>
                  <td>{{submission.title}}</td>
                  <td>{{submission.writer.username}}</td>
                  <td>
                    {% if submission.status == 'requested' %}
                    미검수
                    {% elif submission.status == 'succeed' %}
                    성공
                    {% elif submission.status == 'failed' %}
                    실패
                    {% endif %}
                  </td>
                  <td>{{submission.created_at}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>


        </div>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        <script>
            alert('{{ message }}');
        </script>
    {% endfor %}
{% endif %}

{% endblock %}