 {% extends 'Assignment/base.html' %}

{% block body %}
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        {% for item in assignment %}
            <div class="single-products-catagory clearfix">
                <a href="{{item.pk}}">
                    <img src="/media/{{ item.photo }}" alt="이미지없음" onerror="this.src='/static/img/bg-img/no_detail_img.gif'" style="min-height:300px">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From {{item.pay_coin}}</p>
                        <h4>{{item.title}}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        <script>
            alert('{{ message }}');
        </script>
    {% endfor %}
{% endif %}
{% endblock %}