{%extends 'Assignment/base.html' %}
{%block body%}
{% load bootstrap4%}
{% load socialaccount%}

<h1 class = 'text-center'> 로그인</h1>
<form action='' method = 'POST'>
    {%csrf_token%}
    {% bootstrap_form form %}
    {% buttons%}
        <button type = 'submit' class = 'btn btn-primary'>
            로그인
        </button>
        <button type = 'submit' class = 'btn btn-primary'>
            취소
        </button>
    {%endbuttons%}
</form>
<a href = "{% provider_login_url 'kakao' method = 'outh2' %}" class = 'btn btn-primary'> KaKao Login</a>

{% endblock%}